* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
}

.antic-maquette-section {
    height: 900px;
    display: flex;
    background-color: #F3EEE8;
    justify-content: center;
}

.antic-maquette-section .antic-maquette-section-container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    position: relative;
}

.antic-maquette-section .antic-maquette-section-container .antic-left-side {
    width: 50%;
    display: flex;
    padding: 24px 150px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
    flex: 1 0 0;
    align-self: stretch;
}

.antic-maquette-section .antic-maquette-section-container .antic-left-side h5 {
    color: #A06056;
    font-family: Varta;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
}

.antic-maquette-section .antic-maquette-section-container .antic-left-side h1 {
    color: #A06056;
    font-family: Merriweather;
    font-size: 50px;
    font-style: normal;
    font-weight: 300;
    line-height: 70px;
    letter-spacing: -0.4px;
}

.antic-maquette-section .antic-maquette-section-container .antic-left-side p {
    color: rgba(112, 100, 88, 0.90);
    font-family: Varta;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 30.8px;
}

.antic-maquette-section .antic-maquette-section-container .antic-right-side {
    width: 50%;
}

.antic-maquette-section .antic-maquette-section-container .antic-right-side img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.antic-maquette-section .antic-maquette-section-container .navigation-bar {
    display: flex;
    justify-content: space-between;
    height: 50px;
    position: absolute;
    left: 150px;
    right: 150px;
    top: 55px;
}

.antic-maquette-section .antic-maquette-section-container .navigation-bar .menu {
    display: flex;
    gap: 82px;
    align-items: center;
}

.antic-maquette-section .antic-maquette-section-container .navigation-bar .menu h1 {
    color: #A06056;
    font-family: Merriweather;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
}

.antic-maquette-section .antic-maquette-section-container .navigation-bar .menu ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

.antic-maquette-section .antic-maquette-section-container .navigation-bar .menu a {
    color: #706458;
    font-family: Varta;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-decoration: none;
}

.slide-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #F3EEE8;
}

.slide-section .slide-section-container {
    display: flex;
    max-width: 1440px;
    padding: 64px 150px 70px 150px;
    gap: 48px;
}

.slide-section .slide-section-container .left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex: 1 0 0;
    width: 50%;
}

.slide-section .slide-section-container h1 {
    color: #706458;
    font-family: Merriweather;
    font-size: 55px;
    font-style: normal;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: -0.6px;
    padding-right: 88px;
}

.slide-section .slide-section-container a {
    color: #A06056;
    font-family: Karla;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.3px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-section .slide-section-container img {
    height: 20px;
    width: 20px;
}

.slide-section .slide-section-container .right-side {
    width: 50%;
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex: 1 0 0;
}

.slide-section .slide-section-container .right-side .card-container {
    display: flex;
    align-items: flex-start;
    gap: 29px;
    align-self: stretch;
}

.slide-section .slide-section-container .right-side .card-container .card {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
}

.slide-section .slide-section-container .right-side .card-container .card h3 {
    color: #A06056;
    font-family: Varta;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.2px;
}

.slide-section .slide-section-container .right-side .card-container .card p {
    color: rgba(112, 100, 88, 0.90);
    font-family: Varta;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.latest-trends-section {
    display: flex;
    justify-content: center;
}

.latest-trends-section .latest-trends-section-container {
    display: flex;
    padding: 70px 150px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    max-width: 1440px;
    width: 100%;
}

.latest-trends-section .latest-trends-section-container .trends {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 189px;
}

.latest-trends-section .latest-trends-section-container .trends .trends-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.latest-trends-section .latest-trends-section-container .trends .trends-left a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-trends-section .latest-trends-section-container .trends .trends-left h2 {
    color: #121212;
    font-family: Merriweather;
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: -0.3px;
}

.latest-trends-section .latest-trends-section-container .trends .trends-left p {
    color: rgba(112, 100, 88, 0.90);
    font-family: Varta;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.latest-trends-section .latest-trends-section-container .trends .trends-left a {
    color: #A06056;
    font-family: Karla;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.3px;
    text-decoration: none;
}

.latest-trends-section .latest-trends-section-container .trends .trends-left img {
    width: 20px;
    height: 20px;
}

.latest-trends-section .latest-trends-section-container .trends .trends-right {
    width: 50%;
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.latest-trends-section .latest-trends-section-container .trends .trends-right .placeholder {
    background: rgba(243, 238, 232, 0.30);
    color: rgba(112, 100, 88, 0.90);
    width: 296.095px;
    padding: 15px 15.095px 10px 15px;
    border: 0;
    outline: 0;
}

.latest-trends-section .latest-trends-section-container .trends .trends-right .action-button {
    color: #FFF;
    background-color: #534B42;
    text-align: center;
    font-family: Karla;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.3px;
    padding: 8px 30px;
    border: 0;
    outline: none;
}

.latest-trends-section .latest-trends-section-container .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.latest-trends-section .latest-trends-section-container .slider .slider-image {
    display: flex;
    gap: 30px;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.latest-trends-section .latest-trends-section-container .inspirations {
    display: flex;
    display: flex;
    gap: 30px;
}


.latest-trends-section .latest-trends-section-container .inspirations h3 {
    color: #534B42;
    font-family: Merriweather;
    font-size: 45px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: -0.3px;
}

.latest-trends-section .latest-trends-section-container .inspirations p {
    color: #706458;
    font-family: Varta;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.footer-section {
    background: #F3EEE8;
    display: flex;
    justify-content: center;
}

.footer-section .footer-section-container {
    display: flex;
    max-width: 1440px;
    width: 100%;
    padding: 70px 150px 64px 150px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.footer-section .footer-section-container .footer-content {
    display: flex;
    align-items: flex-start;
    gap: 64px;
    align-self: stretch;
    flex-wrap: wrap;
}

.footer-section .footer-section-container .footer-content {
    color: #534B42;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
}

.footer-section .footer-section-container .footer-content .link-group {
    display: flex;
    align-items: flex-start;
    flex: 1 0 0;
    justify-content: space-between;
    gap: 48px;
}

.footer-section .footer-section-container .footer-content .link-group .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.footer-section .footer-section-container .footer-content .link-group .links h3 {
    color: #534B42;
    font-family: Varta;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.2px;
}

.footer-section .footer-section-container .footer-content .link-group .links a {
    color: #706458;
    font-family: Varta;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-decoration: none;
}

.footer-section .footer-section-container .footer-content .blog {
    display: flex;
    width: 235px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}


.footer-section .footer-section-container .footer-content .blog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.footer-section .footer-section-container .footer-content .blog h3 {
    color: #534B42;
    font-family: Varta;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.2px;
}

.footer-section .footer-section-container .footer-content .blog a img {
    height: 20px;
    width: 20px;
}

.footer-section .footer-section-container .footer-content .blog p {
    color: #706458;
    font-family: Varta;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.footer-section .footer-section-container .footer-content .blog a {
    color: #A06056;
    font-family: Karla;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.3px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-section .footer-section-container .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    width: 100%;
}

.footer-section .footer-section-container .social-networks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.footer-section .footer-section-container .copyright .social-networks img {
    width: 32px;
    height: 32px;
}

.footer-section .footer-section-container .copyright .legals {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
}

.footer-section .footer-section-container .copyright .legals p {
    color: rgba(112, 100, 88, 0.70);
    font-family: Varta;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.footer-section .footer-section-container .copyright .legals ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.footer-section .footer-section-container .copyright .legals a {
    color: rgba(112, 100, 88, 0.70);
    font-family: Varta;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-decoration: none;
}



#scroll2 {
    display: none;
}

@media screen and (max-width:768px) {
    .antic-maquette-section {
        height: 667px;
    }

    .antic-maquette-section .antic-maquette-section-container .navigation-bar {
        top: 41px;
        right: 32px;
        left: 22px;
        align-items: center;
    }

    .antic-maquette-section .antic-maquette-section-container .navigation-bar .menu ul {
        display: none;
    }

    #contact-menu {
        display: none;
    }

    #burger-menu {
        width: 24px;
        height: 12px;
    }

    .antic-maquette-section .antic-maquette-section-container .antic-left-side {
        width: 100%;
        position: absolute;
        height: 100%;
        align-items: center;
        padding: 25px;
        gap: 24px;
    }

    .antic-maquette-section .antic-maquette-section-container .antic-right-side {
        width: 100%;
    }

    .antic-maquette-section .antic-maquette-section-container .antic-left-side h5 {
        color: #FFF;
        text-align: center;
        line-height: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .antic-maquette-section .antic-maquette-section-container .antic-left-side h1 {
        color: #FFF;
        text-align: center;
        font-family: Merriweather;
        font-size: 35px;
        font-style: normal;
        font-weight: 300;
        line-height: 40px;
        letter-spacing: -0.3px;
    }

    .antic-maquette-section .antic-maquette-section-container .antic-left-side p {
        color: #F7F8F9;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
    }

    #scroll1 {
        display: none;
    }

    #scroll2 {
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }

    .antic-maquette-section .antic-maquette-section-container .navigation-bar .menu h1 {
        color: #FFF;
    }

    .slide-section .slide-section-container {
        padding: 48px 32px;
        flex-direction: column;
    }

    .slide-section .slide-section-container .left-side {
        width: 100%;
    }

    .slide-section .slide-section-container .right-side {
        width: 100%;
    }

    .slide-section .slide-section-container .right-side .card-container .card {
        width: 100%;
    }

}

/*@media screen and (max-width:768px) {
    .antic-maquette-section .antic-maquette-section-container {
        height: 667px;
    }

    .antic-maquette-section .antic-maquette-section-container .antic-left-side {
        width: 100%;
        position: absolute;
        height: 100%;
        padding: 25px;
        display: flex;
        max-width: 375px;
        max-height: 667px;
        padding: 25px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        flex-shrink: 0;
    }

    .antic-maquette-section .antic-maquette-section-container .antic-right-side {
        max-width: 375px;
        width: 100%;
        max-height: 667px;
        height: 100%;
    }

    .antic-maquette-section .antic-maquette-section-container .antic-left-side h5 {
        color: #FFF;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Varta;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .antic-maquette-section .antic-maquette-section-container .antic-left-side h1 {
        color: #FFF;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 35px;
        font-style: normal;
        font-weight: 300;
        line-height: 40px;
        letter-spacing: -0.3px;
    }

    .antic-maquette-section .antic-maquette-section-container .antic-left-side p {
        color: #F7F8F9;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Varta;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
    }

    #scroll1 {
        display: none;
    }

    #scroll2 {
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }

    .antic-maquette-section .antic-maquette-section-container .navigation-bar {
        display: flex;
        top: 41px;
        left: 25px;
        right: 25px;
        justify-content: space-between;
        align-items: center;
    }

    .antic-maquette-section .antic-maquette-section-container .navigation-bar .menu {}

    .antic-maquette-section .antic-maquette-section-container .navigation-bar .menu h1 {
        color: #FFF;
    }

    .slide-section .slide-section-container {
        display: flex;
        width: 375px;
        padding: 48px 32px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    .slide-section .slide-section-container .left-side {
        width: 100%;
    }

    .slide-section .slide-section-container .right-side {
        width: 100%;
    }

    .slide-section .slide-section-container .right-side .card-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 41px;
        align-self: stretch;
    }

    .slide-section .slide-section-container a {
        font-family: Lato;
        font-weight: 900;
    }
    }*/