* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.antic-maquette-section {
    height: 900px;
    display: flex;
    background-color: #F3EEE8;
    justify-content: center;
}

.antic-maquette-section .antic-maquette-section-container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    position: relative;
}

.antic-maquette-section .antic-maquette-section-container .antic-left-side {
    width: 50%;
    display: flex;
    padding: 24px 150px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
    flex: 1 0 0;
    align-self: stretch;
}

.antic-maquette-section .antic-maquette-section-container .antic-left-side h5 {
    color: #A06056;
    font-family: Varta;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
}

.antic-maquette-section .antic-maquette-section-container .antic-left-side h1 {
    color: #A06056;
    font-family: Merriweather;
    font-size: 50px;
    font-style: normal;
    font-weight: 300;
    line-height: 70px;
    letter-spacing: -0.4px;
}

.antic-maquette-section .antic-maquette-section-container .antic-left-side p {
    color: rgba(112, 100, 88, 0.90);
    font-family: Varta;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 30.8px;
}

.antic-maquette-section .antic-maquette-section-container .antic-right-side {
    width: 50%;
}

.antic-maquette-section .antic-maquette-section-container .antic-right-side img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.antic-maquette-section .antic-maquette-section-container .navigation-bar {
    display: flex;
    justify-content: space-between;
    height: 50px;
    position: absolute;
    left: 150px;
    right: 150px;
    top: 55px;
}

.antic-maquette-section .antic-maquette-section-container .navigation-bar .menu {
    display: flex;
    gap: 82px;
    align-items: center;
}

.antic-maquette-section .antic-maquette-section-container .navigation-bar .menu h1 {
    color: #A06056;
    font-family: Merriweather;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
}

.antic-maquette-section .antic-maquette-section-container .navigation-bar .menu ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

.antic-maquette-section .antic-maquette-section-container .navigation-bar .menu a {
    color: #706458;
    font-family: Varta;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-decoration: none;
}

.slide-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #F3EEE8;
}

.slide-section .slide-section-container {
    display: flex;
    max-width: 1440px;
    padding: 64px 150px 70px 150px;
    gap: 48px;
}

.slide-section .slide-section-container .left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex: 1 0 0;
    width: 50%;
}

.slide-section .slide-section-container h1 {
    color: #706458;
    font-family: Merriweather;
    font-size: 55px;
    font-style: normal;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: -0.6px;
    padding-right: 88px;
}

.slide-section .slide-section-container a {
    color: #A06056;
    font-family: Karla;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.3px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-section .slide-section-container img {
    height: 20px;
    width: 20px;
}

.slide-section .slide-section-container .right-side {
    width: 50%;
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex: 1 0 0;
}

.slide-section .slide-section-container .right-side .card-container {
    display: flex;
    align-items: flex-start;
    gap: 29px;
    align-self: stretch;
}

.slide-section .slide-section-container .right-side .card-container .card {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
}

.slide-section .slide-section-container .right-side .card-container .card h3 {
    color: #A06056;
    font-family: Varta;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.2px;
}

.slide-section .slide-section-container .right-side .card-container .card p {
    color: rgba(112, 100, 88, 0.90);
    font-family: Varta;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.latest-trends-section {
    display: flex;
    justify-content: center;
    background-color: #FFF;
}

.latest-trends-section .latest-trends-section-container {
    display: flex;
    padding: 70px 0px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    max-width: 1440px;
    width: 100%;
}

.latest-trends-section .latest-trends-section-container .trends {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 189px;
}

.latest-trends-section .latest-trends-section-container .trends .trends-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.latest-trends-section .latest-trends-section-container .trends .trends-left h2 {
    color: #121212;
    font-family: Merriweather;
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: -0.3px;
}

.latest-trends-section .latest-trends-section-container .trends .trends-left p {
    color: rgba(112, 100, 88, 0.90);
    font-family: Varta;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.latest-trends-section .latest-trends-section-container .trends .trends-left a {
    color: #A06056;
    font-family: Karla;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.3px;
    text-decoration: none;
}

.latest-trends-section .latest-trends-section-container .trends .trends-left img {
    width: 20px;
    height: 20px;
}


.latest-trends-section .latest-trends-section-container .trends .trends-right {
    width: 50%;
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.latest-trends-section .latest-trends-section-container .trends .trends-right .placeholder {
    display: flex;
    width: 296.095px;
    padding: 15px 15.095px 10px 15px;
    justify-content: center;
    align-items: center;
}

.latest-trends-section .latest-trends-section-container .trends .trends-right .action-button {
    color: #FFF;
    background-color: #534B42;
    text-align: center;
    font-family: Karla;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.3px;
    padding:8px 30px;
    justify-content: center;
}